.gameboard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.square{
    width: 25%;
    height: 30%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    text-align: center;
    font-size: 80px;
}

.controls, .message{
    text-align: center;
    /* font-size: 30px; */
    margin-top: 20px 0;
}

.result-display, .message{
    font-size: 40px;
    color: red;
}